<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="TestNG3">
  <groups>
  	<run>
  		<include name="first"/>
  	</run>
  </groups>
    <classes>
    	<class name="test.TestNG2"/>
        <class name="test.TestNG3"/>
    </classes>
  </test> <!-- TestNG3 -->
</suite> <!-- Suite -->
